@inherits Umbraco.Web.Mvc.UmbracoViewPage<IMaster>
@{
	Layout = null;
}

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>@Model.Name</title>
    <meta name="description" content="@Model.MetaDescription">
    <meta name="keywords" content="@Model.MetaKeywords">

    <!-- Custom fonts for this theme -->
    <link href="~/Content/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="~/Content/freelancer.min.css" rel="stylesheet">
    <link href="~/Content/styles.css" rel="stylesheet">

</head>

<body>
    @Umbraco.RenderMacro("mainMenu")
    @RenderBody()
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>