@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Members>
@using Umbraco.Web
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "Master.cshtml";
    var activeMembers = Services.MemberService.GetMembersByGroup("Active");
    var guestMembers = Services.MemberService.GetMembersByGroup("Guest");
}

@*
    https://our.umbraco.com/documentation/reference/management/services/memberservice/
    https://our.umbraco.com/documentation/getting-started/backoffice/property-editors/built-in-property-editors/image-cropper
*@

<div class="container">
    <div class="row">

        @*Show all active members*@
        @foreach (var member in activeMembers)
        {
            var publishedContentMember = Members.GetById(member.Id);
            <div class="col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="@Url.GetCropUrl(publishedContentMember, "photo", "avatar")" alt="Card image cap" />
                    <div class="card-body">
                        <h5 class="card-title">@member.Name</h5>
                        <div class="card-text">
                            @member.GetValue("address")<br>
                            @member.GetValue("zip") @member.GetValue("city") <br>

                            <div class="strong">
                                Email:
                            </div>
                            @member.Email

                            <div class="strong">
                                Skills:
                            </div>
                            @{
                                if (member.GetValue("skills") != null)
                                {
                                    string[] skills = member.GetValue("skills").ToString().Split(',');
                                    string skillString = string.Join(", ", skills.Select(item => item)).Replace("\"", "").TrimStart('[').TrimEnd(']');
                                    <span>@skillString</span>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        }

        @*Show all guest members*@
        @foreach (var member in guestMembers)
        {
            <div class="col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">@member.Name</h5>
                        <div class="card-text">

                            <div class="strong">
                                Email:
                            </div>
                            @member.Email

                            <div class="strong">
                                Mobile:
                            </div>
                            @member.GetValue("mobile")
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
