@model AarhusWebDevCoop.ViewModels.ContactForm
@{
    Layout = null;
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}

<section class="page-section" id="contact">
    <div class="container">

        <!-- Contact Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contact us</h2>

        <!-- Icon Divider -->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- Contact Section Form -->
        <div class="row">
            <div class="col-lg-8 mx-auto">
                @if (TempData["success"] != null)
                {
                    <div class="alert alert-success" role="alert">
                        Thank you for contacting us. We’ll be in touch soon!
                    </div>
                }
                else
                {
                    using (Html.BeginUmbracoForm("HandleFormSubmit", "ContactFormSurface", new object { },
                    new { }))
                    {
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                @Html.LabelFor(m => m.Name)
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Name" })
                                <p class="help-block text-danger">
                                    @Html.ValidationMessageFor(m => m.Name)
                                </p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                @Html.LabelFor(m => m.Email)
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                                <p class="help-block text-danger">
                                    @Html.ValidationMessageFor(m => m.Email)
                                </p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                @Html.LabelFor(m => m.Subject)
                                @Html.TextBoxFor(m => m.Subject, new { @class = "form-control", placeholder = "Subject" })
                                <p class="help-block text-danger">
                                    @Html.ValidationMessageFor(m => m.Subject)
                                </p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                @Html.LabelFor(m => m.Message)
                                @Html.TextAreaFor(m => m.Message, new { @class = "form-control", placeholder = "Your message" })
                                <p class="help-block text-danger">
                                    @Html.ValidationMessageFor(m => m.Message)
                                </p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton">Send</button>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</section>