@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Umbraco.Web.Models
@using Umbraco.Web.Controllers


@{
    var loginModel = new LoginModel();
    loginModel.RedirectUrl = HttpContext.Current.Request.Url.AbsolutePath;

    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJs("https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js");
    Html.RequiresJs("https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js");
    Html.RequiresJs("https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js");
}

@* NOTE: This RenderJsHere code should be put on your main template page where the rest of your script tags are placed *@
@Html.RenderJsHere()

<div class="container">
    @if (!Members.GetCurrentLoginStatus().IsLoggedIn)
    {
        <!-- Contact Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Log in 🕵️</h2>

        <!-- Icon Divider -->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- Contact Section Form -->
        <div class="row">
            <div class="col-lg-8 mx-auto">
                @using (Html.BeginUmbracoForm<UmbLoginController>
                    ("HandleLogin"))
                {
                    @Html.HiddenFor(m => loginModel.RedirectUrl)
                    <p class="help-block text-danger">
                        @Html.ValidationSummary("loginModel", true)
                    </p>

                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            @Html.LabelFor(m => loginModel.Username)
                            @Html.TextBoxFor(m => loginModel.Username, new { autocomplete = "off" })
                            @Html.ValidationMessageFor(m => loginModel.Username)
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            @Html.LabelFor(m => loginModel.Password)
                            @Html.PasswordFor(m => loginModel.Password, new { autocomplete = "off" })
                            @Html.ValidationMessageFor(m => loginModel.Password)
                        </div>
                    </div>

                    <br/>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-md">Login</button>
                    </div>
                }
            </div>
        </div>
    }
    else
    {
        <p>
            You are currently logged in as @Members.GetCurrentLoginStatus().Name
        </p>

        var logoutModel = new PostRedirectModel();
        logoutModel.RedirectUrl = "/";
        using (Html.BeginUmbracoForm<UmbLoginStatusController>
            ("HandleLogout"))
        {
            <button type="submit" class="btn btn-danger">Log out</button>
            @Html.HiddenFor(m => logoutModel.RedirectUrl)
        }
    }
</div>
